<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
</head>

<body class="adminbody">

<div id="main">
    <div layout:fragment="sideBar-tem">
    <!-- Left Sidebar -->
    <div class="left main-sidebar">

        <div class="sidebar-inner leftscroll">

            <div id="sidebar-menu">

                <ul>

                    <li class="submenu">
                        <a class="active" href="index.html"><i class="fa fa-fw fa-bars"></i><span> Dashboard </span> </a>
                    </li>

                    <li class="submenu">
                        <a href="charts.html"><i class="fa fa-fw fa-area-chart"></i><span> Employee </span> </a>
                    </li>

                    <li class="submenu">
                        <a href="#"><i class="fa fa-fw fa-table"></i> <span> Department </span> <span class="menu-arrow"></span></a>
                        <ul class="list-unstyled">
                            <li><a href="tables-basic.html">Table</a></li>
                            <li><a href="tables-datatable.html">Add</a></li>
                        </ul>
                    </li>

                    <li class="submenu">
                        <a href="#"><i class="fa fa-fw fa-file"></i> <span> Job </span> <span class="menu-arrow"></span></a>
                        <ul class="list-unstyled">
                            <li><a href="forms-general.html">Table</a></li>
                            <li><a href="forms-select2.html">Add</a></li>
                        </ul>
                    </li>

                    <li class="submenu">
                        <a href="#"><i class="fa fa-fw fa-file-text-o"></i> <span> Role </span> <span class="menu-arrow"></span></a>
                        <ul class="list-unstyled">
                            <li><a href="forms-general.html">Table</a></li>
                            <li><a href="forms-select2.html">Add</a></li>
                        </ul>
                    </li>

                    <li class="submenu">
                        <a href="#"><i class="fa fa-fw fa-file-text-o"></i> <span> Timesheet </span> <span class="menu-arrow"></span></a>
                        <ul class="list-unstyled">
                            <li><a href="forms-general.html">List</a></li>
                            <li><a href="forms-select2.html">Import</a></li>
                            <li><a href="forms-select2.html">Emport</a></li>
                        </ul>
                    </li>

                    <li class="submenu">
                        <a href="#"><span class="label radius-circle bg-danger float-right">20</span><i class="fa fa-fw fa-copy"></i><span> Example Pages </span></a>
                        <ul class="list-unstyled">
                            <li><a href="page-pricing-tables.html">Pricing Tables</a></li>
                            <li><a target="_blank" href="page-coming-soon.html">Countdown</a></li>
                            <li><a href="page-invoice.html">Invoice</a></li>
                            <li><a href="page-login.html">Login / Register</a></li>
                            <li><a href="page-blank.html">Blank Page</a></li>
                        </ul>
                    </li>

                    <li class="submenu">
                        <a href="#"><span class="label radius-circle bg-primary float-right">9</span><i class="fa fa-fw fa-indent"></i><span> Menu Levels </span></a>
                        <ul>
                            <li>
                                <a href="#"><span>Second Level</span></a>
                            </li>
                            <li class="submenu">
                                <a href="#"><span>Third Level</span> <span class="menu-arrow"></span> </a>
                                <ul style="">
                                    <li><a href="#"><span>Third Level Item</span></a></li>
                                    <li><a href="#"><span>Third Level Item</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>


                </ul>

                <div class="clearfix"></div>

            </div>

            <div class="clearfix"></div>

        </div>

    </div>
    <!-- End Sidebar -->
    </div>

</div>
<!-- END main -->
</body>
</html>